# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
ENV/

# Secrets / sensitive files
service_account.json
.env
.env.*
*.pem
*.key

*.secret

# OS/editor files
.DS_Store
Thumbs.db
.vscode/
/.idea/

# Deployment artifacts if any
*.log
